<!-- 

<ion-grid>
  <ion-row>
    <ion-col> 

      <ion-item>
        <ion-label><a href="">Home</a></ion-label>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>  
        <ion-label><a href="/home/cotizacion">Cotización</a></ion-label>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>  
        <ion-label><a href="/home/factura">Crear factura</a></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid> -->


<ion-breadcrumbs>
  <ion-breadcrumb href="">
    <ion-icon slot="start" name="home"></ion-icon>
    Home
  </ion-breadcrumb>
  <ion-breadcrumb href="/home/cotizacion">
    <ion-icon slot="start" name="pencil-outline"></ion-icon>
    Cotización
  </ion-breadcrumb>
  <ion-breadcrumb href="/home/factura">
    <ion-icon slot="start" name="reader-outline"></ion-icon>
    Facturas
  </ion-breadcrumb>
</ion-breadcrumbs>

