<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>


  <app-navegar></app-navegar>

  <form [formGroup]="miformulario2">

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-radio-group value="male" formControlName="gender">
              <ion-radio  color="primary"  value="male">Male</ion-radio><br />
              <ion-radio color="primary"  value="female">Female</ion-radio><br />
            </ion-radio-group>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-select label="Seleccione T" label-placement="floating" fill="solid"  formControlName="tallaPrenda">
              <!-- <div slot="label">T Prenda<ion-text color="danger"></ion-text></div> -->
              <ion-select-option value={{seleccion.talla}} *ngFor="let seleccion of tallas">{{seleccion.talla}}</ion-select-option>
            </ion-select>
          </ion-item>
          
          
        </ion-col>
        
        <ion-col>
          <ion-button (click)="cargarSelect(miformulario2)" [disabled]="miformulario2.invalid">
            <ion-ripple-effect >Add</ion-ripple-effect>
            Add</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>
     
      

    <div *ngIf="this.Total>0">
      <div class="container-table">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Tipo P</th>
              <th>T</th>
              <th>Prec Unt</th>
              <th>C</th>
              <th>Precio T</th>
              <th>Ad</th>
            </tr>
          </thead>
          <tbody>
      
            <tr *ngFor="let mi of this.shoppingCar; index as i">
              <td>{{i+1}}</td>
              <td class="item-prenda">{{mi.prenda}}</td>
              <td>{{mi.talla}}</td>
              <td>${{mi.precio}}</td>
              <td>
                <div class="container-cantidad">
                  <div>{{mi.cantidad}}</div>
                  <div class="container-buttons">
                    <button (click)="aumentar(i)">
                      <ion-icon name="caret-up-outline"></ion-icon></button>
                    <button (click)="disminuir(i)">
                      <ion-icon name="caret-down-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              </td>
              <td>${{mi.total}}</td>
              <td>
               <!--  <input type="button" placeholder="eliminar" value="eliminar" (click)="borrarElemento(i)"> -->
    
               <!--  <ion-button color="danger" type="button" placeholder="eliminar" value="eliminar" (click)="borrarElemento(i)">Delete</ion-button> -->
    
                <ion-icon (click)="borrarElemento(i)" name="trash-sharp"></ion-icon>
              
              </td>
            </tr>
      
          </tbody>
        </table>
    
        <div >
          <h2 class="title-h2">Total: $ <span>{{Total}}</span></h2>
        </div>
      </div>
    </div>


 
  

  
  
</ion-content>


